
    body {
        background-color: #20222B;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        overflow: hidden;
    }

    .watermark {
        position: fixed;
        right: 20px;
        top: 20px;
    }

    .watermark_image {
        width: 126px;
    }

    .betaWatermark {
        position: fixed;
        right: 45%;
        top: 10px;
    }

    .betaWatermarkText {
        font-size: 20px;
        color: red;
    }

    
