@import url(https:fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display);

body {
    background-color: #20222b;
    font-family: 'Poppins' sans-serif;
    font-weight: 500;
    margin: 0%;
}

header{
    background-color: #151720;
    height: 70px;
}

button{
    width: 100%;
    color: #FFFAFA;
    background-color: #20222B;
    height: 56px;
    padding: 0 21px;
    border-radius: 8px;
    transition: all .25s;
    border: 2px solid transparent;
}

button:hover{
    border: 2px solid #AF2D75;
}
