@import url(https:fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display);

body {
    background-color: #20222b;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin: 0%;
}

header{
    background-color: #151720;
    height: 50px;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 12px;
}

#buon{
    padding: 4px 16px;
    border-radius: 3px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #151720;
    transition: all .3s;
}

#buon:hover{
    background-color: #20222B;
}

#headercontent{
    height: 28px;
}

span, i{
    color: white;
}

#main{
    padding: 64px;
    border-radius: 16px;
    width: 100%;
    max-width: 815px;
    min-width: 620px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #151720;
    box-sizing: border-box;
}

h1{
    color: white;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 64px;
}

button{
    color: #FFFAFA;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    background-color: #20222B;
    height: 56px;
    width: 340px;
    padding: 0 21px;
    border-radius: 8px;
    transition: all .25s;
    border: 2px solid transparent;
    margin-bottom: 10px;
}

button:hover{
    border: 2px solid #AF2D75;
}


#teamic{
    font-size: 17px;
    padding-right: 10px;
}